{% extends 'base.html.twig' %}

{% block title %}New Organisatiom{% endblock %}

{% block body %}
    <h1>Create new Organisatiom</h1>

    {{ include('organisatiom/_form.html.twig') }}

    <a href="{{ path('organisatiom_index') }}">back to list</a>
{% endblock %}
